@import "tailwindcss";

body {
  background: #FDF6F1;
  color: #062C80;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

p,
ul {
  font-size: 24px;
}

ul {
  list-style: circle;
}

path {
  fill: #FDF6F1
}

/* Lors de l'impression */
@media print {
  /* On efface tout sur la page */
  body * {
    visibility: hidden;
  }
  /* On affiche uniquement la partie à imprimer */
  #print-area, #print-area * {
    visibility: visible;
  }
  /* On repositionne au centre */
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
